body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);
  }
  
  h1 {
    font-weight: 100;
    color: wheat;
    font-size: 50px;
  }

  #canvas{
    background-color: wheat;
  }
  